@page "/Assignments/{ProjectId:int}"
@using WebApp.Client.Components
@using WebApp.Client.Services
@using System.Security.Claims
@using System.Text
@using Newtonsoft.Json
@using WebApp.Shared.Dto
@inject HttpClient HttpClient
@inject AssignmentService AssignmentService
@inject UserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavManager
@inject ProjectService ProjectService

<PageTitle>Zadania</PageTitle>

<style>
    .center {
        margin: auto;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>

<AuthorizeView Context="authContext">
    <Authorized>
    <div style="text-align: center;">
        <h1>Zadania Projektu @project?.ProjectName</h1>

        @if (state != null && state.User.IsInRole("admin"))
        {
            <button class="button mainaction submit btn btn-primary btn-lg text-uppercase w-30" @onclick="ShowAddDialog">Kliknij, aby dodać nowe zadanie</button>
            <button class="button btn btn-secondary btn-lg text-uppercase w-30" @onclick="GoHome">Wróć do projektów</button>

            <!-- Dodaj nowe zadanie -->
            <ModalDialog @ref="AddDialog" Title="Dodawanie Zadania">
                <EditForm Model="@asgn">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <InputText @bind-Value="asgn.Name" class="form-control" placeholder="Nazwa zadania" />
                        <ValidationMessage For="@(() => asgn.Name)" />
                    </div>
                    <div class="form-group">
                        <InputTextArea @bind-Value="asgn.Description" class="form-control" placeholder="Opis zadania" />
                        <ValidationMessage For="@(() => asgn.Description)" />
                    </div>
                    <div class="form-group">
                        <InputNumber @bind-Value="asgn.Priority" class="form-control" placeholder="Priority(1-5)" />
                        <ValidationMessage For="@(() => asgn.Priority)" />
                    </div>
                    <div class="form-group">
                        <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="asgn.DeadlineDateTime" class="form-control" />
                        <ValidationMessage For="@(() => asgn.DeadlineDateTime)" />
                    </div>
                    <div class="form-group">
                        <button class="btn  mainaction btn btn-primary btn-lg w-40" @onclick="AddAssignment">Dodaj</button>
                        <button class="button mainaction btn btn-secondary btn-lg w-40" @onclick="() => AddDialog.Close()">Zamknij</button>
                    </div>
                </EditForm>
            </ModalDialog>

            <!-- Edytuj zadanie -->
            <ModalDialog @ref="EditDialog" Title="Edycja zadania">
                <EditForm Model="@asgn">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <InputText @bind-Value="asgn.Name" class="form-control" placeholder="Nazwa zadania" />
                        <ValidationMessage For="@(() => asgn.Name)" />
                    </div>
                    <div class="form-group">
                        <InputTextArea @bind-Value="asgn.Description" class="form-control" placeholder="Opis zadania" />
                        <ValidationMessage For="@(() => asgn.Description)" />
                    </div>
                    <div class="form-group">
                        <InputNumber @bind-Value="asgn.Priority" class="form-control" placeholder="Priority(1-5)" />
                        <ValidationMessage For="@(() => asgn.Priority)" />
                    </div>
                    <div class="form-group">
                        <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="asgn.DeadlineDateTime" class="form-control" />
                        <ValidationMessage For="@(() => asgn.DeadlineDateTime)" />
                    </div>
                    <p class="formbuttons">
                        <div class="form-group">
                            <button class="button mainaction btn btn-primary btn-lg w-40" @onclick="UpdateAssignment">Zatwierdź zmiany</button>
                            <button class="button mainaction btn btn-secondary btn-lg w-40" @onclick="() => EditDialog.Close()">Zamknij</button>
                            <button class="button mainaction btn btn-danger btn-lg w-40" @onclick="() => RemoveWarning.Open()">Usuń zadanie</button>
                        </div>
                    </p>
                </EditForm>
            </ModalDialog>
            
            <ModalDialog @ref="RemoveWarning" Title="Usuń zadanie">
                <br /><br />
                <h1>Czy na pewno chcesz usunąć to zadanie?</h1>
                <br /><br />
                <button class="button mainaction btn btn-danger btn-lg w-40"
                        @onclick="RemoveAssignment">TAK</button>
                <button class="button mainaction btn btn-secondary btn-lg w-40"
                        @onclick="() => RemoveWarning.Close()">NIE</button>

            </ModalDialog>
        }
        </div>
        <!-- Lista zadań -->
        <br/>
        <table style="width:100%">
            <thead>
                <tr>
                    <th style="text-align: center;">Nazwa zadania</th>
                    <th style="text-align: center;">Opis</th>
                    <th style="text-align: center;">Priorytet</th>
                    <th style="text-align: center;">Termin</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var assignment in assignments)
                {
                    <tr>
                        <td>@assignment.Name</td>
                        <td>@assignment.Description</td>
                        <td>@assignment.Priority</td>
                        <td>@assignment.DeadlineDateTime</td>
                        @if (state != null && state.User.IsInRole("admin"))
                        {
                            <td>
                                <button class="button btn btn-primary btn-lg w-100" @onclick="() => EditAssignment(assignment)">Zarządzaj</button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </Authorized>
    <NotAuthorized>
        <style>
            body {
                background: red !important;
            }
        </style>
        <div class="center">
            <img src="/Res/sotp.png" id="sotp" width="90%" height="90%">
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public int ProjectId { get; set; }

    private ModalDialog AddDialog { get; set; }
    private ModalDialog EditDialog { get; set; }
    private ModalDialog RemoveWarning { get; set; }
    private AuthenticationState? state = null;
    private ProjectDto? project;
    private AssignmentDto asgn = new AssignmentDto();
    private List<AssignmentDto> assignments = new List<AssignmentDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            if (state?.User.Claims.Any() == true)
            {
                project = await ProjectService.GetProjectByIdAsync(ProjectId);
                assignments = await AssignmentService.GetAssignmentsByProjectIdAsync(ProjectId);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error initializing: {ex.Message}");
        }
    }

    private async Task AddAssignment()
    {
        try
        {
            asgn.Project = project;
            await AssignmentService.AddAssignmentAsync(asgn);
            AddDialog.Close();
            assignments = await AssignmentService.GetAssignmentsByProjectIdAsync(ProjectId);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error adding assignment: {ex.Message}");
        }
    }

    private async Task RemoveAssignment()
    {
        asgn.Project = project;
        await AssignmentService.DeleteAssignmentAsync(asgn);
        EditDialog.Close();
        RemoveWarning.Close();
        assignments = await AssignmentService.GetAssignmentsByProjectIdAsync(ProjectId);
    }
    
    private void ShowAddDialog()
    {
        asgn = new AssignmentDto();
        AddDialog.Open();
    }

    private void EditAssignment(AssignmentDto assignment)
    {
        asgn = assignment;
        EditDialog.Open();
    }

    private async Task UpdateAssignment()
    {
        try
        {
            asgn.Project = project;
            await AssignmentService.UpdateAssignmentAsync(asgn);
            EditDialog.Close();
            assignments = await AssignmentService.GetAssignmentsByProjectIdAsync(ProjectId);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error updating assignment: {ex.Message}");
        }
    }

    private void GoHome()
    {
        NavManager.NavigateTo($"/");
    }

}
